{% extends "layout.html" %} 

{% block title %} 
    New Case
{% endblock %} 

{% block main %} 
    <h1 class="text-center">Life Underwriter</h1>
    <h6 class="text-center">Enter applicant information below to underwrite your case</h6>

    <div class="mb-3">
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <div>
                {{ form.birthdate.label(class_="form-label") }}
                {{ form.birthdate(class_="form-control") }}
            </div>
            <div>
                {{ form.gender.label(class_="form-label") }}
                {{ form.gender(class_="form-select") }}
            </div>
            <div>
                {{ form.height.label(class_="form-label") }}
                {{ form.height(class_="form-select") }}
            </div>
            <div>
                {{ form.weight.label(class_="form-label") }}
                {{ form.weight(class_="form-control") }}
            </div>
            <div>
                {{ form.nicotine.label(class_="form-label") }}
                {{ form.nicotine(class_="form-select") }}
            </div>
            <div>
                {{ form.submit(class_="btn btn-primary")}}
            </div>
        </form>
    </div>
{% endblock %}